<div class="container">
  <div class="description mt-5">
    <h2>Your recommendations</h2>
  </div>

    <div class="row justify-content-center">
      <div class="col-sm-8 my-3 custom-margin-bottom">
        <div class="rounded-border-search" style="border-radius: 25px;">
          <%= form_with url: recommendations_path, method: :get, class: "d-flex" do %>
            <div class="input-group">
              <%= text_field_tag :query,
                params[:query],
                class: "border-0 bg-white form-control",
                placeholder: "Type a keyword...",
                style: "border-radius: 25px;"
              %>
              <span class="border-0 bg-transparent input-group-text">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>
            </div>
          <% end %>
        </div>
      </div>
    </div>

  <div class="home-grid mt-5 d-flex flex-wrap">
    <% @recommendations.each do |recommendation| %>
      <a href="<%= recommendation_path(recommendation.id) %>" class="card-reco">
        <div class="card-reco-body">
          <div class="card-text">
            <p class="responsive-truncate"><%= recommendation.activity %></p>
              <% recommendation.rating.times do %>
                <i class="fas fa-star yellow-star"></i>
              <% end %>
            </p>
            <p class="date"><%= recommendation.created_at.strftime('%Y-%m-%d') %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
