<div class="container">
  <div class="description mt-5">
    <h2>Your recommendations</h2>
  </div>

  <div class="row justify-content-center">
    <div class="col-sm-8 my-3 custom-margin-bottom">
      <div class="rounded-border-search" style="border-radius: 25px;"> <!-- Close the style attribute here -->
        <%= form_with url: recommendations_path, method: :get, class: "d-flex" do %>
          <%= text_field_tag :query,
                params[:query],
                class: "form-control border-0 bg-white",
                placeholder: "Type a keyword...",
                style: "border-radius: 25px;"
            %>
          <%= submit_tag "Search", activity: "", class: "btn btn-submit" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="home-grid mt-5 d-flex flex-wrap">
    <% @recommendations.each do |recommendation| %>
      <a href="<%= recommendation_path(recommendation.id) %>" class="card-reco">
        <div class="card-reco-body">
          <h4 class="card-title">
            <%= recommendation.created_at.strftime('%Y-%m-%d') %> Week
          </h4>
          <br>
          <div class="card-text">
            <p class="responsive-truncate"><%= recommendation.activity %></p>
              <% recommendation.rating.times do %>
                <i class="fas fa-star yellow-star"></i>
              <% end %>
            </p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
