<div class="container mt-4">
  <div class="home-grid mt-5 d-flex flex-wrap">
    <div class="card-reco-show">
      <h2 class="text-center"> <%= @recommendation.created_at.strftime('%Y-%m-%d') %> <br> Weekly Recommendation</h2>

      <div class="reco-stats mt-4">
        <h5 class="mt-5">Insights:</h5>
        <ul>
          <li>You had <strong><%= @joys.size %></strong> joys this week <i class="fa-solid fa-heart" style="color: #ff94d8;"></i></li>
          <li>Your average joy rating was <strong><%= @ave_rating %></strong> <i class="fas fa-star" style="color: #ffc800"></i></li>
        </ul>
      </div>

      <div class="reco-info mt-4">
        <h5 class="mt-4">Suggestions:</h5>
        <% activities_string = @recommendation.activity %>
        <% activities = activities_string.split(/(?=\d\.\s)/) %> <!--- regex w/ pos. lookahead-->

        <% activities.each do |activity| %>
          <p><%= activity.strip %></p>
        <% end %>
      </div>

      <div class="mt-5 back-button">
        <%= link_to 'Back', recommendations_path, class: 'btn-back' %>
      </div>
    </div>
  </div>
</div>
