<nav class="navbar navbar-expand-md navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <img src="<%= image_path('sun-icon.png') %>" alt="Sun Logo">
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <br>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/joys">
            <img src="<%= image_path('joy-icon.png') %>" alt="Joy Logo" class="menu-icon">
            My joys
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/recommendations">
            <img src="<%= image_path('reco-icon.png') %>" alt="Reco Logo" class="menu-icon">
            My recommendations
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/games">
            <img src="<%= image_path('') %>" alt="Game Logo" class="menu-icon">
            My games
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/gamecards">
            <img src="<%= image_path('card-icon.png') %>" alt="Card Logo" class="menu-icon">
            My cards
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/users/sign_in">
            <img src="<%= image_path('') %>" alt="Login Logo" class="menu-icon">
            Login/sign-up
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="">
            <img src="<%= image_path('') %>" alt="Logout Logo" class="menu-icon">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
