<div class="container">
  <h2>Joy Details</h2>
</div>

<div class="container mt-5">
  <div class="fortune-cookie">
    <div class="container mt-4">
      <div class="home-grid mt-5 d-flex flex-wrap">
        <div class="card-reco-show">
          <div class="fortune-cookie">
            <p><strong>My Fortune Cookie:</strong> <%= @joy.fortune %></p>
          </div>
        </div>

        <div class="card-reco-show">
          <h5 class="mt-4">Insights:</h5>
          <ul>
            <li><strong>My nickname:</strong> <%= @joy.user.nickname %> <i class="fa-solid fa-heart" style="color: #ff94d8;"></i></li>
            <li><strong>My joy:</strong> <%= @joy.description %> <i class="fas fa-star" style="color: #ffc800"></i></li>
            <li><strong>My rating:</strong> <%= @joy.rating %> <i class="fas fa-star" style="color: #ffc800"></i></li>
          </ul>
          <div class="mt-5 back-button">
            <%= link_to 'Back', joys_path, class: 'btn-back' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
