<div class="container">
  <h2>Joy Details</h2>
</div>

<div class="container mt-5">
  <div class="fortune-cookie">
    <div class="container mt-4">
      <div class="home-grid mt-5 d-flex flex-wrap">
        <div class="card-reco-show">
          <div class="fortune-cookie" data-controller="fortune-cookie" >
            <p><strong>My Fortune Cookie:</strong> <%#<%= @joy.fortune %></p>
            <%# NEW CODE testing: lines 17 -25 %>
            <%# fortune cookie code %>
            <%= turbo_frame_tag 'fortune' do %>

              <div class= "container mt-5">
                <div class="fortune-cookie-container">
                  <div class="fortune-wrapper" data-action="load->fortune-cookie#rotateFortune">
                    <div class="fortune" data-fortune-cookie-target="fortune">
                      <div class= "cookie">
                        <div class="fortune-left" data-fortune-cookie-target="fortuneLeft"></div>
                        <div class="fortune-right" data-fortune-cookie-target="fortuneRight"></div>
                      </div>
                      <div class="fortune-message" data-fortune-cookie-target="fortuneMessage"><span> <%= @joy.fortune %></span></div>
                    </div>
                  </div>
                </div>
              </div>

            <% end %>
          </div>
        </div>

        <div class="card-reco-show">
          <h5 class="mt-4">Insights:</h5>
          <br>
          <ul>
            <li><strong>My joy:</strong> <%= @joy.description %> <i class="fa-solid fa-heart" style="color: #ff94d8;"></i></li>
            <li><strong>My rating:</strong> <%= @joy.rating %> <i class="fas fa-star" style="color: #ffc800"></i></li>
          </ul>
          <div class="container">
            <div class="row">
              <div class="col-6">
                <%= link_to 'Back', joys_path, class: 'btn-back' %>
              </div>
              <div class="col-6">
                <% if @games.any? %>
                  <%= link_to 'Game', games_path, class: 'btn-back' %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Small modal -->
