<!DOCTYPE html>
<html>
<head>
  <title>JoyJot</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <!-- Add Google Fonts link tags -->
  <link href="https://fonts.googleapis.com/css?family=Font1|Font2&display=swap" rel="stylesheet">

  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>

<body>
  <!-- NAVBAR -->
  <%= render 'shared/navbar' %>

  <!-- BANNER -->
  <%= render 'shared/banner' %>

  <!-- PAGE CONTENTS -->
  <div class="container mt-5">
    <%= yield %>
  </div>

  <!-- FOOTER -->
  <%= render 'shared/footer' %>


  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</body>
</html>
